<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BlogWhiz</title>
  <link rel="stylesheet" type="text/css" href="application.css">
</head>
<nav id="primary">
  <ul>
    <li><%= link_to "Home", controller: "home" %></li>
    <li><a href="#">About-coming soon!</a></li>
    <li><a href="#">Photos-coming soon!</a></li>
    <li><%= link_to "All Post", controller: "posts" %></li>
  </ul>
</nav>

<header id="main">
  <h1>
  <p>This is a blog about the path to create this blog. This will be on most pages</p>
  </h1>
</header>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
